@import "tailwindcss";/* src/index.css */
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
.profile-card {
  @media screen and (min-width: 300px) {
    position: fixed; /* Fixa o card de perfil na lateral */
    left: 0;
    top: 0;
    width: 30vw; /* Largura do sidebar */
    height: 100vh;
    background-color: #0d1117; /* Fundo preto como na imagem */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    padding: 20px;
    
    z-index: 10;
      @media screen and (max-width: 800px) {
        min-height: 100vh;
        min-width: 100vw;
        display: flex;
  flex-direction: column;
      }
  }}
.icon-link {
  @apply text-gray-400 hover:text-indigo-400 transition-colors duration-300;
  
}
.icon-link svg{
@apply w-6 h-6; /* w-6 = 1.5rem (24px), h-6 = 1.5rem (24px) */
  @apply block; 
}
  .profile-image {
   position: relative;           /* relative */
  width: 12rem;                 /* w-48 (48 * 0.25rem = 12rem = 192px) */
  height: 12rem;                /* h-48 */
  border-radius: 9999px;        /* rounded-full */
  border-width: 4px;            /* border-4 */
  border-color: #a855f7;        /* border-purple-500 */
  overflow: hidden;             /* overflow-hidden */
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); /* shadow-2xl */
  }
  
  .profile-name {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
     font-size: 3rem; /* text-5xl */
  font-weight: 700; /* font-bold */
  line-height: 1.25; /* leading-tight */
  margin-bottom: 0.5rem; /* mb-2 */
  color: transparent; /* text-transparent */
  background-clip: text; /* bg-clip-text */
  -webkit-background-clip: text; /* para suporte no WebKit */
  background-image: linear-gradient(to right, #60a5fa, #a78bfa);
  }
 